@import "../../../node_modules/pineapple-sass/build/pineapple-sass";
@import "../../assets/config/colors";
@import "../../assets/config/sizes";

section {
  background-color: $color-white;
  h1 {
    text-align: center;
    font-weight: 700;
    font-size: 4.0rem;
  }
  ul.container-width {
    background-color: $color-white;
    padding: 115px 0;
    list-style: none;
    text-align: center;
    li {
      padding: 5px;
      width: 235px;
      height: auto;
      margin: 20px;
      font-weight: bold;
      font-size: 1.0rem;
      display: inline-block;
      vertical-align: top;
      img {
        width: 100%;
        height: 260px;
      }
    }
    p {
      font-size: 1.8rem;
      min-height: 35px;
      margin: 10px 0;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
