<section>
  <ul class="container-width">
    <h1>Graphics Novels</h1>
    <div class="center">
      <app-loader [loading]="loading"></app-loader>
    </div>
    <li *ngFor="let graphic of graphics | paginate: { itemsPerPage: 20, currentPage: p }">
      <a href="/graphic-novel/{{graphic.id}}">
        <img src="{{graphic.thumbnail.path}}.{{graphic.thumbnail.extension}}"/>
      </a>
      <p>{{graphic.title}}</p>
      <a href="/graphic-novel/{{graphic.id}}" class="detail button">Détails</a>
    </li>

    <pagination-controls (pageChange)="p = $event"></pagination-controls>

  </ul>

</section>