@import "../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

@import "../../assets/config/sizes";

.navbar{
  .container-fluid {
    #logo {
      display: inline-block;
      width: 10%;
      @media #{$mobile} {
        width: 40%;
      }
      @media #{$mobile} and #{$landscape} {
        width: 20%;
      }
    }
    .navbar-header {
      float: right;
    }
    .navbar-collapse {
      @media #{$desktop} {
        position: absolute;
        top: 52%;
        left: 11%;
      }
    }
  }
}
