@import "../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

@import "../../../assets/config/sizes";

.navbar{
  .container-fluid {
    #logo {
      a img {
        height: 65px;
      }
      @media #{$desktop}{
        float: left;
      }
      @media #{$tablette} {
        float: left;
      }
      display: inline-block;
    }
    .navbar-header {
      float: right;
    }
    .navbar-collapse {
      @media #{$desktop} {
        float: left;
      }
      @media #{$tablette}{
        float: left;
      }
      .navbar-nav {
        li {
          a {
            font-size: 1.5rem;
          }
        }
      }
    }
  }
}
