@import "../../../../node_modules/pineapple-sass/build/pineapple-sass";
@import "../../../assets/config/colors";
@import "../../../assets/config/sizes";

section {
  background-color: $color-white;
  min-height: 1000px;
  img {
    height: 235px;
  }
}
