<section>

    <ul class="container-width">
        <h1>Digital Comics</h1>
        <p>Bienvenue! Dans l'univers marvel, tu retrouveras ici les Comics versions numériques ainsi que les graphic novel et tous tes héros préférés !</p>
        <div class="center">
            <app-loader [loading]="loading"></app-loader>
        </div>
        <li *ngFor="let comic of comics | paginate: { itemsPerPage: 20, currentPage: p }">
            <a routerLink="/comic/{{comic.id}}">
                <img src="{{comic.thumbnail.path}}.{{comic.thumbnail.extension}}"/>
            </a>
            <p>{{comic.title}}</p>
            <a routerLink="/comic/{{comic.id}}" class="detail button">Détails</a>
        </li>

        <pagination-controls (click)="scroll()" (pageChange)="p = $event " ></pagination-controls>

    </ul>
</section>
