/* Container sizes */

$mainDesktopContainerSize: 1170px;
$mainMobileContainerSize: calc( 100% - 20px );
$gutterItemsListing: 40px;

$desktop: "screen and (min-width:720px)";
$mobile: "screen and (max-width:710px)";

$landscape: "(orientation: landscape)";

@mixin mainDesktopContainer() {
  width: $mainDesktopContainerSize;
  margin: 0 auto;
}
@mixin mainMobileContainer() {
  width: $mainMobileContainerSize;
  margin: 0 auto;
}

.container-width {
  @media #{$desktop}  {
    @include mainDesktopContainer;
  }
  @media #{$mobile} {
    @include mainMobileContainer;
  }

}