/* Container sizes */

$mainDesktopContainerSize: 1170px;
$mainTabletteContainerSize: 860px;
$mainMobileContainerSize: calc( 100% - 20px );
$gutterItemsListing: 20px;

$desktop: "screen and (min-width:1281px)";
$tablette: "screen and (min-width:765px) and (max-width: 1280px)";
$mobile: "screen and (max-width:764px)";

$landscape: "(orientation: landscape)";
$portrait: "(orientation: portrait)";

@mixin mainDesktopContainer() {
  width: $mainDesktopContainerSize;
  margin: 0 auto;
}
@mixin mainTabletteContainer() {
  width: $mainTabletteContainerSize;
  margin: 0 auto;
}
@mixin mainMobileContainer() {
  width: $mainMobileContainerSize;
  margin: 0 auto;
}

.container-width {
  @media #{$desktop}  {
    @include mainDesktopContainer;
  }
  @media #{$tablette} {
    @include mainTabletteContainer;
  }
  @media #{$mobile} {
    @include mainMobileContainer;
  }

}